/Calculo.class
/CalculoTeste3.class
/Calculoteste.class
/Calculoteste2.class
/Consumidor.class
/Multiplicar.class
/Predicade.class
/Produto.class
/Somar.class
/PredicateCompose.class
/Supplier.class
/OperatorUnary.class
/BinaryOperator.class
/BinaryOperatorDesafio.class
/BOperatorUnary.class
/Produto1.class
/BinaryOperatorDesafio02.class
/Threads.class
/Trabalho1.class
/Threads$1.class
